@use "../common/base" as *;

.cities-grid {
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 48px;
  margin-bottom: 45px;

  .city-card {
    width: calc((100% - (40px * 3)) / 4.001);

    &:hover {
      box-shadow: $defaultBoxShadow;
    }

    .inner-city-card {
      display: flex;
      background: $white;
      border-radius: 10px;
      padding: 32px 20px;
      border: solid 1px $border;
      height: 100%;

      .city-info-wrapper {
        .city-name {
          font-family: FontMedium;
          font-size: 18px;
          margin-bottom: 12px;
        }

        .city-temp {
          font-size: 32px;
          margin-bottom: 8px;
        }

        .city-meta {
          font-size: 13px;
          color: $muted;
        }
      }

      .city-icon {
        margin-left: auto;
        display: block;
        height: auto;
        max-height: 80px;
        flex-shrink: 0;
      }

    }
  }
}


@media screen and (max-width: $mainContainer) {
  .cities-grid {
    column-gap: 32px;
    row-gap: 42px;

    .city-card {
      width: calc((100% - (32px * 2)) / 3.001);
    }
  }
}

@media screen and (max-width: 1024px) {
  .cities-grid {
    column-gap: 16px;
    row-gap: 24px;

    .city-card {
      width: calc((100% - (16px)) / 2.001);
    }
  }
}


@media screen and (max-width: 767px) {
  .cities-grid {
    .city-card {
      width: 100%;
    }
  }
}